.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active {
    background-color: #FEFFFF !important;
    color: #15161A !important;
    border-color: #ED8B00 !important;
    outline: none !important;
    box-shadow: #ED8B00 !important;
}

.accordion-button:not(.collapsed) {
    color: #FFF  !important;
    background-color: #ED8B00 !important;
}