body{
    background-color: black;
   font-family: montserrat;
}
h1{
    color:#ED8B00;
    
}
h5{
    color:white;
}
#botaoretorno{
    width: 4%;
}

.btn-outline-primary{
    color: #ED8B00;
    border-color: #ED8B00;  
 }

 .btn-outline-primary:hover{
    background-color: #ED8B00;
    color:white;
    border-color: #ED8B00; 
 }
 
